<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasukanlangit.id.ui_downline_transfersaldo">

    <application>
        <activity
            android:name=".DetailTransferAgentActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TransferSaldoAgenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>
</manifest>