<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasukanlangit.id.ui_downline_home">

    <application>
        <activity
            android:name=".priceplan.findproduct.ProductFindedActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".priceplan.product.ProductPricePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".priceplan.PricePlanActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detail.DetailDownLineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mintasaldoqr.ScanQRConfirmationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mintasaldoqr.ScanQRAgentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".subdownline.SubDownLineActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DownLineActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>