<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasukanlangit.cash_topup">

    <application>
        <activity
            android:name=".presentation.InitialTopUpActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
    </application>

</manifest>