<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pasukanlangit.id.nobu">

    <application>
        <activity
            android:name=".presentation.binding.UnbindingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.history.HistoryNobuActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".presentation.binding.AccountBindingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.WebviewNobuActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.creation.QrisActivationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.LoadingStateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.scan.QrScanActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>